<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Tiny App</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      </head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<header><% include ./partials/_header %></header>
<body>
       
       <ul>
                <% for(let key in urls) { %>
                        <li>                
                            <%= urls[key].longURL %> --> <a href="http://localhost:8080/u/<%= key %>">http://localhost:8080/u/<%= key %></a>
                            <a href="http://localhost:8080/urls/<%= key %>"><button>Edit</button></a>
                            <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" class="btn" value="Delete Me" /></form>
                        </li>
                <% } %>
</li>
       
        
</ul>
<a target="_self" href="http://localhost:8080/urls/new"><button>Get Tiny!</button></a>
</body>
</html>

